<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Heroku Flask Template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <h1 id="tittle">User-Friendly K-means Website</h1>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="https://github.com/jiangshan123/Capstone_TDI/tree/master/web">SOURCE CODE(GitHub)</a></li>
                <li><a href="https://github.com/jiangshan123/Capstone_TDI">PROJECT(GitHub)</a></li>
            </ul>
        </nav>
        <h2>What is This website for</h2>
        <p>
            To build an user-friendly website to help small business do k-means machine learning analysis by themselves.
        </p><br>
        <h3>You can download this plugin, or modify its source code from <a href="https://github.com/jiangshan123/Capstone_TDI/tree/master/web">GitHub</a></h3>
        <p>
            来自另一个文件夹的图像：
            <img src="https://github.com/jiangshan123/Capstone_TDI/blob/master/pairplot.png" />
        </p>
    </body>
</html>